@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --color-white: #f4f4f4;
  --color-gray-light: #d1d1d1;
  --color-black: #222;
  /* --color-primary: #4392fc; */
  --color-primary: #8f5bfe;
  --color-primary-light: #a9d0f5;
  --color-danger: #e90000;
  --color-danger-light: #f5b5b5;
  --base-font-family: "Raleway", sans-serif;
  --base-padding: 1em;
}

@media screen and (min-width: 50em) {
  :root {
    --base-padding: 1.2em;
  }
}

@media screen and (min-width: 75em) {
  :root {
    --base-padding: 2em;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 50%; */
  font-size: 0.5em;
}

@media screen and (min-width: 50em) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  min-width: 400px;
  color: var(--color-black);
  line-height: 1.6;
  font-family: var(--base-font-family);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

header,
footer,
article,
nav {
  padding: 1em;
}

header {
  display: flex;
  height: 90px;
  background-color: #f3e9f1;
  justify-content: space-between;
}

/* ----------------- Layout ----------------- */
.principal {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  padding: 0 2em;
}

.section {
  background-color: #f9f8fa;
  display: grid;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem auto;
}

.checkout {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2rem;
}

.flex.lg {
  width: 80vw;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact a {
  text-decoration: none;
}

.btn--contact {
  cursor: pointer;
}

div.confirm {
  font-size: 16px;
}
div.confirm p {
  text-align: center;
}

/* ----------------- Typography ----------------- */
h1,
h2,
h3 {
  font-weight: 400;
  margin: 1rem auto;
}

p {
  margin: 1rem auto;
}
p.intro {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 6rem 4rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

/* ----------------- Buttons ----------------- */
button {
  font-family: var(--base-font-family);
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  padding: 0.65rem 1rem;
  transition: 0.3s all;
}

.btn--primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn--primary:hover:not(:disabled) {
  outline: none;
  box-shadow: 0 0 1rem var(--color-primary);
}

.btn--danger {
  color: var(--color-white);
  background: var(--color-danger);
}

.btn--danger:hover:not(:disabled) {
  outline: none;
  box-shadow: 0 0 1rem var(--color-danger);
}

.btn--pay {
  width: 15rem;
  text-decoration: underline;
  margin-bottom: 15px;
}

/* ----------------- Products ----------------- */
.products {
  display: grid;
  grid-gap: var(--base-padding);
  overflow: auto;
  padding: 1rem 2rem 2rem 2rem;
}

@media screen and (min-width: 50em) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 75em) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  text-align: center;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-content: space-between;
  align-items: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s;
}

.product:hover {
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
}

.product__name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.5rem;
  grid-column: 1 / -1;
}

.product__image {
  grid-column: 1 / -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}

.product.only {
  height: 540px;
}

.product-only-nav a {
  text-decoration: none;
}

.product__image.only img {
  height: 40rem;
  width: auto;
}

.product form > label {
  font-style: italic;
}

@media screen and (min-width: 50em) {
  .product.only {
    height: 550px;
  }
  .product__name {
    margin: 1.5rem 1rem;
  }

  .product__image {
    height: 25rem;
  }
  .product__image.only {
    height: 40rem;
    width: auto;
  }
  .product__image.only img {
    height: 35rem;
    width: auto;
  }
}

@media screen and (min-width: 100em) {
  .product {
    height: 550px;
  }
  .product__image {
    height: 37rem;
  }
}

.product__image img {
  width: 100%;
  transition: all 0.3s;
}

.product:hover .product__image img {
  transform: scale(1.2);
}

.product__price {
  font-size: 1.6rem;
  margin: 0;
  grid-column: 1 / -1;
}

.product__price:after {
  content: " €";
}

.product__btn {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  margin: 0;
}

@media screen and (min-width: 50em) {
  .product__price {
    grid-column: 1 / 2;
    margin: 0 0 1rem 1rem;
  }

  .product__btn {
    grid-column: 2 / -1;
    margin: 0 1rem 1rem 0;
  }
}

/* ----------------- Cart ----------------- */
.cart {
  display: grid;
  grid-template-rows: min-content;
  align-content: start;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem 2rem 2rem 2rem;
}

.cart__item__name,
.cart__item__price,
.cart__item__quantity {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1;
}

.cart__item {
  display: grid;
  grid-template-columns: 6rem 1fr 5rem 3rem 3rem 4rem 3rem;
  grid-column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 var(--base-padding) 0 0;
  animation: 0.3s add-cart-item;
  background-color: #fff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s;
}

.cart__item.cart-confirm {
  grid-template-columns: auto;
}

@keyframes add-cart-item {
  from {
    margin-left: -20rem;
    margin-right: 20rem;
    opacity: 0;
  }
  to {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
  }
}

.cart__item--removed {
  animation: 0.3s remove-cart-item;
}

@keyframes remove-cart-item {
  to {
    margin-left: 20rem;
    margin-right: -20rem;
    opacity: 0;
  }
}

.cart__item:hover {
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
}

.cart__item__image {
  max-width: 6rem;
  border-radius: 5px 0 0 5px;
}

.cart__item__price:after {
  content: " €";
}

.cart__btn {
  padding: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.cart-footer h2 {
  margin: 0.5rem 0;
  font-size: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  cursor: wait;
}

/* Header */
.logo {
  display: flex;
}
.logo img {
  width: 154px;
  height: 54px;
}

/* cart-btn */
.cart-btn {
  display: flex;
  justify-content: flex-end;
}

#cart {
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: #8f5bfe;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  top: 1em;
  right: 60px;
  border: solid 2px #cf7e46;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 3rem;
}

/* ------- */
/* Cart-modal OVERLAY */
/* ------- */
.cart-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateX(-200%);
  transition: 0.5s ease-out;
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50, 50, 50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 2rem;
  float: right;
  margin: 0.5em 1em 0 1em;
  color: white;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cart-modal {
    width: 100vw;
  }
}

/* ---- FOOTER  ---- */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  font-size: 1.5em;
  color: #fff;
  background-image: linear-gradient(to right bottom, #cf7e46, #8f5bfe);
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #fff;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.l-footer p {
  padding-right: 20%;
  color: #fff;
}
h2.information {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
    padding-top: 5em;
  }
}

/* Formulaire */
.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  font-size: 1.5em;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}

.form-row > label > span {
  display: flex;
  text-align: center;
}

.form-row > input {
  flex: 2;
}

.form-row > input:invalid {
  border: 2px dashed red;
}

.form-row > input,
.form-row > button {
  padding: 0.5em;
}

.form-row > button {
  background: gray;
  color: white;
  border: 0;
}

@media screen and (min-width: 992px) {
  .form-row > input {
    flex: 3;
  }
}
@media screen and (min-width: 1200px) {
  .form-row > input {
    flex: 4;
  }
}
